<h2>List of Customers</h2>

<div class="d-flex justify-content-between my-4">
    <button class="btn btn-primary" routerLink="new">
        New
    </button>
    <button class="btn btn-outline-secondary" (click)="loadCustomers()">Reload</button>
</div>

<app-error-box [message]="errorMessage"></app-error-box>
<app-loading-indicator [show]="loading"></app-loading-indicator>

@if(errorMessage === null && !loading) {
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Credit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (customer of customers; track customer.id) {
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td class="text-end">{{ customer.credit | currency:'EUR':'symbol':'1.2-2'}}</td>
            <td class="text-end">
                <button class="btn btn-sm btn-primary me-2" [routerLink]="['edit', customer.id]">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}