<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/start">Start</a>
        </li>

        @if (isAuthenticated$ | async) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Customers</a>
        </li>

        <li class="nav-item">
          <a id="nav_products" class="nav-link" routerLink="/product">Produkte</a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>

      </ul>

      @if (isAuthenticated$ | async) {
      <span class="pe-2">Eingeloggt als: {{ (userName$ | async) }}</span>
      <button id="btn_logout" class="btn btn-outline-secondary" (click)="logout()">Logout</button>
      } @else {
      <button id="btn_login" class="btn btn-warning" routerLink="/login">Login</button>
      }

    </div>
  </div>
</nav>