<h1 class="display-3">Login</h1>


<app-error-box [message]="errorMessage$ | async"></app-error-box>
<app-loading-indicator [show]="loading$ | async"></app-loading-indicator>

@if(isAuthenticated$ | async) {
<h2>Welcome, {{userName$ | async }}</h2>
}
@else if ((errorMessage$ | async) === null && (loading$ | async) !== true) {
<form [formGroup]="loginFormGroup" (ngSubmit)="formSubmitHandler()">

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>

</form>
}